[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nltk = "*"
snscrape = {git = "https://github.com/JustAnotherArchivist/snscrape.git"}
numpy = "*"
pandas = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
pydantic = "*"
openai = "*"
hugchat = "*"

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.16"
